@charset "utf-8";

/*-------------- reset css --------------*/
* {margin:0;padding:0;}
html, body{width: 100%; height: 100%;}
body,h1,h2,h3,h4,h5,h6,select,textarea,input,button,blockquote,th,td,caption,p,span,em,i,a {font:normal 16px/100% 'Noto Sans KR', sans-serif;line-height:1.5em;color:#333;letter-spacing:-1px;-webkit-text-size-adjust:none;}
dl,ul,ol,li {list-style:none;}
iframe {margin:0;border:0;}
em,address,i {font-style:normal;}
img {vertical-align:top;border:0;}
table {width:100%;border:0;border-collapse:collapse;border-spacing:0;empty-cells:show;}
table caption {position:absolute;overflow:hidden;width:1px;height:0;font-size:0;line-height:0;}
a, a:link, a:visited {color:#707070;text-decoration:none;}
a:hover, a:active, a:focus {text-decoration:none;}
fieldset {display:block;border:0;}
legend {overflow:hidden;width:1px;height:0;text-indent:-999999px;font-size:0;line-height:0;}
button {overflow:visible;cursor:pointer;border:0;background:transparent;}
hr {visibility:hidden;overflow:hidden;clear:both;height:0;}
select, input, textarea {vertical-align:middle;outline-color:-moz-use-text-color;outline-style:none;outline-width:medium;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type="text"], input[type="email"], input[type="tel"], input[type="search"], textarea {-webkit-appearance:none;}
input[type="text"], input[type="password"], textarea, input[type="checkbox"], input[type="radio"] {width:100%;border:1px solid #ddd;background-color:#fff;box-sizing:border-box;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {border:1px solid #345dad;}
input[type="text"], input[type="password"] {height:40px;padding-left:17px;}
textarea {overflow:auto;padding:10px 17px;resize:none;}
select::-ms-expand {display:none;}
select:focus::-ms-value {color:inherit;background-color:transparent;}
hr {display:none;}
/* html5 Tag Block */
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display:none;}

.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}
* html .clearfix {zoom:1;}
.blind {overflow:hidden;width:1px !important;height:0 !important;text-indent:-999999px;font-size:0 !important;line-height:0 !important;}
.hide {display:none;}
.ellipsis {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000; }

/* introduction */
.introduction {background:#f5f5f5;}
  .about {overflow:hidden;max-width:1160px;margin:0 auto;padding:80px 30px;}
  .about .txt h1{margin:10px 0 40px;text-align:center;color:#333;font-size:28px;}
  .about .txt h1 span {font-size:28px;font-weight:bold;}
  .about .txt p{text-align:center;font-size:24px;}
  .about .left{box-sizing:border-box;float:left;width:30%;text-align:center;}
  .about .left img{width: 100%;border-radius: 15px;box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
    -webkit-box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);}

  .about .right{
    float: right;
    width: calc(70% - 60px);
    margin-left:60px;
}
.about .right h2 {font-size:22px;font-weight:bold;}
.about .right .txt-box {
    display:block;
    overflow:hidden;
    margin: 14px 0 40px;
    font-size: 18px;
    line-height: 27px;text-align:left;
}
.about .right .txt-box + .txt-box {margin-top:40px;}
.about .right .txt-box dt{float:left;width:100px; letter-spacing: normal;}
.about .right .txt-box dd {float:left;width:calc(100% - 100px);}
.about .right .txt-box.skill dd {display:inline-block;width:auto;margin-right: 5px;margin-bottom: 5px;padding: 2px 9px;border-radius: 4px;
    color: #323648;background-color: #e2e2e2;}

/* work product */
section.portfolio {padding:150px 10px;background:#f9c51d;}
.portfolio h2,
.portfolio2 h2{
    font-size: 28px;
    text-align: center;
}





.portfolio p{
    text-align: center;
    color: #444;
    margin-top: 10px;
    margin-bottom: 30px;
}
.pc{
    width: 700px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 50px;
    
}
.pc:nth-child(1):after{
    content: "오픈 전";
    position: absolute;
    transform: translateX(-50%);
    width: 591px;
    height: 335px;
    left: 49.8%;
    top: 43px;
    background-size:cover;
    text-align: center;
    line-height: 330px;
}
.pc:nth-child(2):after{
    content: "오픈 전";
    position: absolute;
    transform: translateX(-50%);
    width: 591px;
    height: 335px;
    left: 49.8%;
    top: 43px;
    background-size:cover;
    text-align: center;
    line-height: 330px;
}
.pc:nth-child(3):after{
    content: "";
    position: absolute;
    transform: translateX(-50%);
    width: 591px;
    height: 335px;
    left: 49.8%;
    top: 43px;
    background-size:cover;
    background: url("../images/ebse.png") 45% top no-repeat;
}
.pc:nth-child(4):after{
    content: "";
    position: absolute;
    transform: translateX(-50%);
    width: 591px;
    height: 335px;
    left: 49.8%;
    top: 43px;
    background-size:cover;
    background: url("../images/lunatic-hai.jpg") 45% top no-repeat;
}
.phone{
    width: 700px;
    height: 720px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 50px;
}
.phone::after img{
    width: 100%

}
.phone:hover::after,
.pc:hover::after{
    transition: 10s;
    background-position: 0 bottom;
}
.portfolio .container .pc p,
.portfolio .container .phone p{
    color: #d8d8d8;
}
.pc h3,
.phone h3{
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    color: #015a56;
    font-weight:bold;
}
.pc h3 span {display:block;}
.pc img{width: 100%;}
.phone img{
    margin-left: 11%;
}
.pc .btn ul li:nth-child(2),
.phone .btn ul li:nth-child(2){
    margin-left: 10px;
}
.portfolio2 h2{
    margin-top: 150px;
    text-align: center;
    font-size: 1.5vw;
}

.portfolio2 SPAN{
    font-weight: normal;
}
.portfolio2 .container{
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    /* opacity: 0; */
}

.portfolio2 .container .item-wrap{
    margin-top: 15px;
    text-align: center;
    overflow: hidden;
}
.portfolio2 .container .item-wrap .item,
.portfolio2 .container .item-wrap .item-box{
    width: 23%;
    float: left;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
}
.portfolio2 .container .item-wrap .item::after{
    content: "";
    position: absolute;
    background-color: #D13F31;
    width: 300px;
    height: 300px;
    z-index: 1;
    top: 0;
}
.portfolio2 .container .item-wrap .item img
{
    width: 100%;
    height: 330px;
    border-radius: 30px;
}
.portfolio2 .container .item-wrap .item:hover img{
    transform: scale(1.1);
    transition: 0.2s;
    border-radius: 30px;
    overflow: hidden;
}
.portfolio2 .container .item-wrap .item-box img{
    width: 100%;
    height: 420px;
    border-radius: 30px;
}
.portfolio2 .container .item-wrap > div:nth-child(9){
    margin-left: 30px;
}
.portfolio2 .container .item-wrap .item:nth-child(4n + 1){
    margin-left: 30px;
}

.portfolio .info {width:400px;margin:50px auto 0;}
.portfolio .info > li {color: #333;}
.portfolio .info .list {margin-top: -26px;}
.portfolio .info .list > li {padding-left:50px;}
.portfolio .info .btn {
    display: block;
    width: 100px;
    margin: 20px auto 0;
    padding: 8px 20px;
    color: #0c5a57;
    font-size: 0.8vw;
    border: 1px solid #0c5a57;
    text-align:center; border-radius: 6px;
}
.portfolio .info .btn:hover {color:#fff;background:#0c5a57;transition:all 0.3s;}
.portfolio .info .btn.incomplete {color:#fff;border: 1px solid #222;background: #222; border-radius: 6px;}



.footer{
    width: 100%;
    line-height: 85px;
    background-color: #585858;
    font-size:16px;
    color: #fff;
    text-align: center;
}
@media screen and (min-width: 641px) and (max-width: 1024px){
   
}


@media screen and (max-width: 740px){

    .about .left {float: none;width:100%;max-width: 350px;margin:0 auto;padding: 0 30px; box-sizing: border-box;}
    .about .right {float: none;width:100%;margin:30px 0 0;box-sizing: border-box;}
    .pc {width:100%;}
    .pc h3{margin-top: 60px;}
    .pc:nth-child(3):after,
    .pc:nth-child(4):after {width:85%;height:0;top: 4.6%;padding-bottom: 48%; background-size: cover;}
}